.dijitValidationTextBox
{
    width: 758px;
}
.url-section .label
{
    margin-top: 9px;
}
.dijitTreeRow
{
    width: 758px;
}
.taskRow
{
    float: left;
    width: 100%;
    margin-top: 5px;
}
.esriCTTaskInput
{
    float: left;
    width: 50px;
}
.esriCTGpTasks
{
    margin-top: 9px;
    overflow-y: auto;
    max-height: 50px;
    width: 100%;
    float: left;
}

.esriCTInputHolder, .esriCTOutputHolder
{
    width: 100%;
    float: left;
}
.esriCTTaskData
{
    float: left;
    width: 27%;
    overflow-y: auto;
    margin-top: 15px;
    max-height: 260px;
    height: auto;
}
.esriCTInputField, .esriCTOutputField
{
    cursor: pointer;
    padding: 5px 5px 5px 15px;
    border-top: 1px solid #d2dae2;
    font-size: 14px;
    font-family: 'Open Sans' , Helvetica, Arial;
}
.esriCTSelected, .esriCTSelectedOutput
{
    background-color: #e3ecf2 !important;
    border-left: 3px solid #15A4FA !important;
    padding-left: 12px;
}
.esriCTInputHolder .dijitTitlePaneContentInner, .esriCTOutputHolder .dijitTitlePaneContentInner
{
    padding: 0;
}
.esriCTtaskDataContainer
{
    float: left;
    width: 70%;
    margin-left: 25px;
    margin-top: 16px;
    font-size: 15px;
    overflow-y: auto;
    max-height: 260px;
}
.esriCTtaskDataContainer .common-property .field
{
    height: 36px;
    margin-top: 10px;
}
.esriCTtaskDataContainer .field
{
    position: relative;
    overflow: hidden;
}
.esriCTtaskDataContainer .field label
{
    width: 115px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    vertical-align: middle;
    padding: 3px;
}
.esriCTtaskDataContainer .common-property .field .common-input, .othersData .field .common-input
{
    position: absolute;
    left: 115px;
    right: 10px;
    top: 0px;
    bottom: 0px;
    width: auto;
}

.esriCTtaskDataContainer .field .jimu-checkbox
{
    width: 115px;
    margin-top: 7px;
}

.esriCTHidden
{
    display: none;
}
.dijitTreeRow
{
    padding: 4px 0 2px 0;
    background-color: none;
    background-color: transparent;
    background-color: rgba(171, 214, 255, 0);
    background-position: 0 0;
    background-repeat: repeat-x;
    border: solid 0 transparent;
    color: #000000;
}

div.dijitTreeRow:hover
{
    background-color: #abd6ff;
    transition-duration: 0.25s;
    padding: 4px 0 2px 0;
    border-color: #759dc0;
    border-width: 0.5px 0;
    color: #000000;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
}


.esriCTInputHolder .dijitTitlePaneTitleClosed, .esriCTOutputHolder .dijitTitlePaneTitleClosed
{
    margin-top: 10px;
    height: 35px;
    background-color: #fafafc;
    border: 1px solid #d2dae2;
    border-radius: 4px;
    padding: 7px;
}

.esriCTInputHolder .dijitTitlePaneTitleOpen, .esriCTOutputHolder .dijitTitlePaneTitleOpen
{
    background-color: #6f7e95;
    color: #fff;
    border: 1px solid #6f7e95;
    border-radius: 4px 4px 0 0;
    background-image: linear-gradient(#6f7e95 0%, #6f7e95 100%);
    margin-top: 10px;
    height: 35px;
    padding: 7px;
}


/* Other data CSS */

.esriCTOtherHolder
{
    background-color: #fafafc;
    border: 1px solid #d2dae2;
    border-radius: 4px;
    float: left;
    width: 100%;
    padding: 7px;
    vertical-align: middle;
    margin-top: 10px;
    height: 35px;
    cursor: pointer;
    padding-left: 12px;
}

.esriCTSelectedOthers
{
    background-color: #e3ecf2 !important;
    border-left: 3px solid #15A4FA !important;
}
.esriCTLayoutLeft
{
    float: left;
}
.esriCTLayoutRight
{
    float: right;
}
.esriCTImg
{
    margin-bottom: 20px;
}
.esriCTFieldset
{
    border: 1px solid #d9dde0 !important;
}

.esriCTlegend
{
    margin-left: 7px;
    margin-bottom: 16px;
    color: #7AD;
}
.esriCTOthersData
{
    margin-left: 10px;
}
.esriCTHeight
{
    height: 25px;
}
/* Outage data CSS */
.esriCTtaskDataContainer .common-property .field .common-input, .outageData .field .common-input
{
    position: absolute;
    left: 115px;
    right: 10px;
    top: 0px;
    bottom: 0px;
    width: auto;
}
.esriCTSelectedOutageHolder
{
    background-color: #fafafc;
    border: 1px solid #d2dae2;
    border-radius: 4px;
    float: left;
    width: 100%;
    padding: 7px;
    vertical-align: middle;
    margin-top: 10px;
    height: 35px;
    cursor: pointer;
    padding-left: 12px;
}
.esriCTselectedOutage
{
    background-color: #e3ecf2 !important;
    border-left: 3px solid #15A4FA !important;
}
.common-inputspin
{
    position: absolute;
    left: 115px;
    right: 10px;
    top: 0px;
    bottom: 0px;
    width: 102px;
}

.esriCTunitsForOther
{
    margin-left: 105px;
    font-size: 12px;
    font-style: italic;
}

.esriCTExample
{
    color: #ccc;
    font-size: 12px;
    font-style: italic;
}

#visibleCheckBoxID
{
    margin-top: 5px;
}

.esriCTOutageAreaDropDown
{
    width: 81%;
    height: 30%;
}

.esriCTOutageAreaFieldName
{
    width: 30%;
    height: 30%;
}

.esriCTOutageAreaParamValue
{
    width: 30%;
    height: 30%;
}

.esriCTParamValue
{
    margin-left: 15px;
    margin-right: 10px;
}
/*Outage area css ends*/

.jimu-symbol-chooser
{
    margin-left: 118px;
}

.esriCTDoubleLinedText
{
    margin-top: 0px !important;
}

.esriCTFloatLeftCommon
{
    float: left;
}