/*form*/
.widget-draw-control {
    margin-left:10px;
    overflow:hidden;
}

.hide {
  display: none;
}

/*shared*/
.widget-error {
  font-size: 1.1em;
  color: orangered;
}

/*Layers Results*/
.solutions-widget-batcheditor .widget-layers-table{
  margin:15px; 
  padding-right:15px;
  font-size: 12px;
}
.solutions-widget-batcheditor .widget-layers-table .selectioncount{
  width: 120px;
}

/*Loading Message*/
.loading-indicator {
    /* Loading status */
    height: 100%;
    width: 100%;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background:rgba(128, 128, 128, 0.50);
    background-position: center center;
    background-image: url(../images/preloader.gif);
    background-repeat: no-repeat;
}
