/*.grid-overlay-setting input {
  margin-left: 10px;
}*/

/*added, need to clean up*/
.grid-overlay-setting-style table {
    color: #333333;
    width: 300px;
    border-collapse: collapse;
    font-size: 14px;
}

.grid-overlay-setting-style th {
    background-color: #518dca;
    padding: 8px;
    text-align: left;
    color: #ffffff;
}

.grid-overlay-setting-style tr {
    background-color: #ffffff;
}

.grid-overlay-setting-style td {
    padding: 8px;
}

.settings-section tr {
    vertical-align: top;
}

.settings-section > tbody > tr > td:first-child {
  width: 100px;
}

.font-size, .line-size {
    width: 70px;
}

.grid-overlay-setting-color-picker {
    width: 70px;
}

.grid-overlay-setting-color-picker-text {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.grid-overlay-setting-interval-width {
    border-color: #000;
    border-style: hidden solid solid solid;
    border-width: 1px;
    height: 10px;
    margin: auto;
}

.grid-overlay-setting-style-map {
    width: 500px;
    height: 100%;
    float: left;
}

#neo {
  float: left;
  height: 100%;
  width: 440px;
  overflow-y: scroll;
  margin-right: 5px;
}
