.jimu-widget-FilterEditor {
}

.jimu-widget-FilterEditor .flDropDown {
    height: 30px!important;
    width: 100%;
    -webkit-appearance: menulist-button;
    height: 30px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.jimu-widget-FilterEditor .searchtextbox {
    height: 30px!important;

    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
   
}
}