
@import url('http://js.arcgis.com/3.12/dijit/themes/claro/claro.css');


.jimu-widget-IsolationTrace .flagbutton
{
    float: left;
    cursor: pointer;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-image: url("../images/add-flags.png");
    background-color: #858585;
}

.jimu-widget-IsolationTrace .barrierButton
{
    float: left;
    cursor: pointer;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-image: url("../images/add-barriers.png");
    background-color: #858585;
}

.flagButtonselected
{
    float: left;
    cursor: pointer;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-image: url("../images/add-flags-select.png");
    background-color: #858585;
}
.barrierButtonselected
{
    float: left;
    cursor: pointer;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-image: url("../images/add-barriers-select .png");
    background-color: #858585;
}

.tracePanel
{
    padding: 10px 20px;
}

.traceControl
{
    float: left;
    width: 100%;
}
.btnFlagStyle
{
}

.btnBarrierStyle
{
    float: right;
}

.flagLabel
{
    float: left;
    margin: 17px 10px 0 0;
}

.barrierLabel
{
    float: left;
    margin: 17px 10px 0 0;
}

.traceButtons
{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.resultItemButton
{
    padding: 0;
    width: 40px;
    height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.resultItemButtonSkipIcon
{
    background-image: url("../images/skip.png");
    background-color: #666666;
    margin-bottom: 5px;
    margin-top: 5px;
}

.resultItemButtonSkipIconSelected
{
    background-image: url("../images/skip.png");
    background-color: #ff0000;
    margin-bottom: 5px;
    margin-top: 5px;
}

.resultItemButtonZoomIcon
{
    background-image: url("../images/ZoomTo.png");
    background-color: #666666;
    margin-bottom: 5px;
    margin-top: 5px;
}

.resultItemButtonZoomIconSelected
{
    background-image: url("../images/ZoomTo.png");
    background-color: #ff0000;
    margin-bottom: 5px;
    margin-top: 5px;
}

.runIconidle
{
    display: none;
}

.runIconProcessing
{
    background-image: url("../images/loading.gif");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 60px;
    margin: 0 auto;
    width: 40px;
}

.traceControlDisabledDiv
{
    cursor: default;
}


.dijitButtonNode
{
    border: 0px solid gray;
}

.dijitValidationTextBoxError input.dijitValidationInner, .dijitSelect input, .dijitTextBox input.dijitArrowButtonInner
{
    height: 28px !important;
}

.DynamicCheckbox
{
    margin-right: 5px;
}

.DateAndTime
{
    width: 12em !important;
}
.dijitTimeTextBox
{
    width: 12em !important;
}
.dijitDateTextBox
{
    width: 12em !important;
}

.resultPanelStyle
{
    width: 100%;
}

.resultItemClass
{
    padding-bottom: 5px;
    padding-top: 5px;
}

/*override Class from JIMU css*/
.jimu-btn
{
    background: none repeat scroll 0 0 #485566;
    border: medium none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    min-width: 70px;
    overflow: hidden;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    margin-right: 12px;
}
.jimu-btn:hover
{
    background: none repeat scroll 0 0 #485566;
}
.jimu-btn.jimu-state-disabled:hover
{
    background: none repeat scroll 0 0 #ccc;
    cursor: default;
}

.jimu-btn.jimu-state-disabled
{
    background: none repeat scroll 0 0 #ccc;
    box-shadow: 0 0 0 0px #d9dde0 inset;
    cursor: default;
}
.resultPanelContainer
{
    clear: both;
    padding-top: 20px;
    position: relative;
    width: 100%;
}
.jimu-widget-frame.jimu-container
{
    background-color: white;
    overflow: auto;
    padding: 0px;
    position: relative;
}


/*override Class from Claro css*/

.dijitArrowNode
{
    float: right;
}

.claro .dijitTitlePaneTitleOpen, .claro .dijitTitlePaneTitleFixedOpen
{
    background-color: #E9EEF4;
    color: Black;
}
/*
.claro .dijitTitlePane .dijitArrowNode, .claro .dijitFieldset .dijitArrowNode {
  background-image: url("images/spriteArrows.png");
  background-repeat: no-repeat;
  height: 8px;
  width: 7px;
}*/
.claro .dijitTitlePaneTitle
{
    background-color: #efefef;
    background-image: none;
    background-repeat: repeat-x;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 1px solid #b5bcc7;
    color: #494949;
    min-height: 17px;
    padding: 7px 15px;
}
.claro .dijitTitlePaneContentOuter
{
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 1px solid #b5bcc7;
    padding: 0 10px;
}

.dijitheadPaneTitle
{
    background-color: #ccc;
    background-image: none;
    background-repeat: repeat-x;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 1px solid #b5bcc7;
    color: #494949;
    min-height: 17px;
    padding: 7px 12px;
}
.resultsHeadText
{
    padding: 5px;
    font-weight: bold;
}
.dijitheadPanelIcons
{
    float: right;
}
.saveToLayer
{
    float: left;
}
.exportToCsv
{
    float: left;
}

#Isolated_CustomersCP
{
    border-bottom: 1px solid #b5bcc7;
}
.claro .dijitTitlePaneTitleFocus
{
    outline: none;
}