.jimu-widget-edit {
  position: relative;
}

/*about template picker*/
.jimu-widget-edit .templatePicker {
	position: absolute;
  left: 0;
  right: 0;
  top: 18px;
  bottom: 53px;
  height: auto; /*just for BoxTheme*/
}

.jimu-widget-edit .grid {
  height: 100% !important;
}

.jimu-widget-edit .dojoxGridMasterHeader {
  height: 0 !important;
}

.jimu-widget-edit .dojoxGridContent {
  width: 100% !important;
}

.jimu-widget-edit .dojoxGridContent div[role=presentation] {
  right: 0;
}

.jimu-widget-edit .dojoxGridRow {
  width: 100%;
}

.jimu-widget-edit .dojoxGridRowTable {
  width: 100%;
}

.jimu-widget-edit .esriDrawingToolbar {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  min-height: 50px;
}

/***********about templatePicker**************/
.jimu-widget-edit  .templatePicker .grid .dojoxGridCell {
  border: 0 solid #FFFFFF;
}


/*********about attributeInspector**********/
.jimu-widget-edit-infoWindow .esriAttributeInspector {
  width: 100%;
}

.jimu-widget-edit-infoWindow  .esriAttributeInspector .atiAttributes table {
    width: 100%;
}

.jimu-widget-edit-infoWindow .esriAttributeInspector .dijitTextBox {
  width: 100%;
  height: 24px;
}

.jimu-widget-edit-infoWindow .esriAttributeInspector .dijitInputField {
  line-height: 20px !important;
  padding: 0 0 0 !important;
}

.jimu-widget-edit-infoWindow .esriAttributeInspector .dijitTextBox .dijitInputInner {
  height: 22px;
  line-height: 22px !important;
}

.jimu-widget-edit-infoWindow .esriAttributeInspector .dijitTextBoxFocused {
  border-color: #406b9b !important;
  box-shadow: 0 0 0 #ffffff !important;
}

.jimu-widget-edit-infoWindow .esriAttributeInspector .dijitTextBoxHover{
  background-color: #ffffff;
  background-image: none;
  border-color: #406b9b !important;
}
/*just for launch pad theme*/
.jimu-widget-edit-infoWindow .esriAttributeInspector .dijitArrowButton.dijitDownArrowButton.dijitArrowButtonContainer {
  position: static !important;
  height: 22px !important;
}

/*rich textbox*/
.jimu-widget-edit-infoWindow .esriAttributeInspector .atiRichTextField{ 

}

.jimu-widget-edit-infoWindow .esriAttributeInspector div.dijitEditorIFrameContainer {
  height: 78px;
}

/*textArea*/
.jimu-widget-edit-infoWindow .esriAttributeInspector .dijitTextBox.dijitTextArea {
  height: 32px;
}

/*new button in attributeInspector*/
.jimu-widget-edit-infoWindow .esriAttributeInspector .atiButton {
  margin: 0 10px 0 0;
  float: none;
  width: auto;
}
.jimu-rtl .jimu-widget-edit-infoWindow .esriAttributeInspector .atiButton {
  margin: 0 0 0 45px;
}

.jimu-widget-enhancedEditor .jimu-btn
{
    margin: 0 3px 5px 3px;
}

.jimu-widget-enhancedEditor .esriAttributeInspector{
    height: 500px;
    width: 300px;
}

.jimu-widget-enhancedEditor .esriAttributeInspector .asteriskIndicator {
    color: red;
}

.jimu-widget-enhancedEditor .esriAttributeInspector .deleteButton,
.jimu-widget-enhancedEditor .esriAttributeInspector .saveAllButton,
.jimu-widget-enhancedEditor .savePresetFieldsButton
 {
    float: right;
}

/*********end attributeInspector**********/

.jimu-widget-enhancedEditor .ee-presetValueTableDiv{
    height:100%;
    width: 100%;
}
.jimu-widget-enhancedEditor .ee-presetValueHeaderTable{
    color: #ffffff;
    font-size: 14px;
    padding: 8px;
    background-color: #518dca;
    vertical-align: middle;
    width: 100%;
}

.jimu-widget-enhancedEditor .ee-presetValueBodyTable {
    width: 100%;
}

.jimu-widget-enhancedEditor .ee-presetValue-input {
    width: 100%;
}

.jimu-widget-enhancedEditor .mblSwitchBgLeft {
  background: -webkit-gradient(linear, left top, left bottom,
                               from(#28B159), to(#75FBAC),
                               color-stop(0.5, #3FEB84),
                               color-stop(0.5, #4CEE8E));
}
.jimu-widget-enhancedEditor .mblSwitchBgRight {
  background: -webkit-gradient(linear, left top, left bottom,
                               from(#CECECE), to(#FDFDFD),
                               color-stop(0.5, #EEEEEE),
                               color-stop(0.5, #F8F8F8));
}
.jimu-widget-enhancedEditor .mblSwitchKnob {
  background: -webkit-gradient(linear, left top, left bottom,
                               from(#999999), to(#FAFAFA),
                               color-stop(0.5, #BBBBBB),
                               color-stop(0.5, #CACACA));
}