.jimu-widget-map-filter {
	width:100%;
	height:100%;
}

.jimu-widget-map-filter .container {
	border-color: #e1e1e1;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	width: 100%;
	height: 75%;
	position:relative;
	overflow-y: auto;
}

.jimu-widget-map-filter .saveContainer {
	border-color: #e1e1e1;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	width: 100%;
	height: 20%;
	position:relative;
	overflow-y: auto;
	display: none;
}

.jimu-widget-map-filter .save-block {
	position: absolute;
	left: 5px;
	top: 5px;
}

.jimu-widget-map-filter .headerTable {
	width: 100%;
}

.jimu-widget-map-filter .groupHeader {
	font-size: 10pt;
	padding-left: 0px;
}

.jimu-widget-map-filter .saveTD {
	content: url("../images/save.png");
    cursor: hand;
    cursor: pointer;
}

.jimu-widget-map-filter .saveTD:after {
	content: url("../images/save.png");
    cursor: hand;
    cursor: pointer;
}

.jimu-widget-map-filter .saveTDClose {
	content: url("../images/save.png");
    cursor: hand;
    cursor: pointer;
}

.jimu-widget-map-filter .saveTDClose:after {
	content: url("../images/save.png");
    cursor: hand;
    cursor: pointer;
}

.jimu-widget-map-filter .group-picker {
	padding-bottom: 5px;
}

.jimu-widget-map-filter .filter-block {
	position: absolute;
	left: 5px;
	top: 5px;
}

.jimu-widget-map-filter .filter-row {
	position: relative;
	width: 100%;
}

.jimu-widget-map-filter .tableFormat {
	table-layout: fixed;
	width:99%;
}

.jimu-widget-map-filter .rowHeader {
	background-color: #485566;
	color: #ffffff;
}

.jimu-widget-map-filter .tableRow {
	background-color: #E3E3E3;
}

.jimu-widget-map-filter .tdOperatorHide {
	display: none;
	width: 100px;
}

.jimu-widget-map-filter .tdValue {
	width: 200px;
	height: 20px;
	font-size: 10pt;
	padding-left: 5px;
}

.jimu-widget-map-filter .tdConjunction {
	width: 70px;
}

.jimu-widget-map-filter .tdRemove {
	width: 20px;
}

.jimu-widget-map-filter .tdLoad {
	text-align: left;
	padding-left: 5px;
	width: 45%;
}

.jimu-widget-map-filter .tdSave {
	text-align: right;
	padding-right: 5px;
	width: 45%;
}

.jimu-widget-map-filter .loadProgressHeader {
	display: none;
	width: 16px;
}

.jimu-widget-map-filter .loadProgressShow {
	content: url("../images/validating.gif");
	display: none;
	width: 16px;
}

.jimu-widget-map-filter .loadProgressShow:after {
	content: url("../images/validating.gif");
	display: none;
	width: 16px;
}

.jimu-widget-map-filter .advModeOffset {
    content: url("../images/setting_default.png");
    padding-right: 10px;
    cursor: hand;
    cursor: pointer;
}

.jimu-widget-map-filter .advModeClose {
    content: url("../images/setting_disabled.png");
    cursor: hand;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.jimu-widget-map-filter .advModeClose:after {
    content: url("../images/setting_disabled.png");
    cursor: hand;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.jimu-widget-map-filter .advModeOpen {
	content: url("");
    cursor: hand;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.jimu-widget-map-filter .deleteCell {
    content: url("../images/delete.png");
    width: 16px;
    height: 16px;
    cursor: hand;
    cursor: pointer;
}

.jimu-widget-map-filter .deleteCell:after {
    content: url("../images/delete.png");
    width: 16px;
    height: 16px;
    cursor: hand;
    cursor: pointer;
}

.jimu-widget-map-filter .deleteCell:hover {
    content: url("../images/delete_hover.png");
    width: 16px;
    height: 16px;
    cursor: hand;
    cursor: pointer;
}

.jimu-widget-map-filter .filter-add-criteria {
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.jimu-widget-map-filter .filter-button-apply {
	position: absolute;
	right: 100px;
	bottom: 0px;
}

.jimu-widget-map-filter .filter-button-cancel {
	position: absolute;
	right: 0px;
	bottom: 0px;
}
