.jimu-widget-map-filter {
	width:100%;
	height:100%;
}

.jimu-widget-map-filter .container {
	border-color: #e1e1e1;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	width: 100%;
	height: 85%;
	position:relative;
	overflow-y: auto;
}

.jimu-widget-map-filter .group-picker {
	position: absolute;
	right: 5px;
	top: 5px;
}

.jimu-widget-map-filter .filter-block {
	position: absolute;
	left: 5px;
	top: 50px;
}

.jimu-widget-map-filter .filter-row {
	position: relative;
	width: 100%;
}

.jimu-widget-map-filter .tableHeader {
	background-color: #elelel;
}

.jimu-widget-map-filter .tableRow {
	background-color: #E3E3E3;
}

.jimu-widget-map-filter .tdOperatorHide {
	display: none;
}

.jimu-widget-map-filter .tdValue {

}

.jimu-widget-map-filter .tdConjunction {
	width: 100px;
}

.jimu-widget-map-filter .tdRemove {
	width: 24px;
}


.jimu-widget-map-filter .filter-add-criteria {
	position: absolute;
	left: 5px;
	bottom: 5px;
}

.jimu-widget-map-filter .filter-button-apply {
	position: absolute;
	right: 50px;
	bottom: 5px;
}

.jimu-widget-map-filter .filter-button-cancel {
	position: absolute;
	right: 5px;
	bottom: 5px;
}
