.jimu-widget-GRG  .paddedTop{
   padding-top: 10px;
   padding-left: 3px;
}

.jimu-widget-GRG  .control  .tab{
  background-color: #fff;
  font-size: 12px;
}

.jimu-widget-GRG .control  .tab.jimu-state-selected {
    border-top: 0px solid #FFF;
    border-bottom: 2px solid #24b5cc;
    color: #000;
    font-size: 12px;
}

.jimu-widget-GRG .tabsContainer {
    border: 1px solid #838383;
}

.jimu-widget-GRG .selectInput {
    width: 119px;
}

.jimu-widget-GRG .textInput {
    width: 225px;
    height: 32px;
}

.jimu-widget-GRG .dijitNumberTextBoxHalfLeft {
    width: 100px !Important;
    height: 32px;
    margin-right: 9px;
}

.jimu-widget-GRG .dijitNumberTextBoxHalfRight {
    width: 100px !Important;
    height: 32px;
    margin-left: 9px;
}


.jimu-widget-GRG .dijitNumberTextBox {
    width: 225px;
    height: 32px;
}

.jimu-widget-GRG .tabPanel fieldset {
    border: 1px solid #CCC;
    padding: 6px;
    margin-top: 10px;
}

.jimu-widget-GRG .tabPanel fieldset > div {
    margin: 3px;
}

.jimu-widget-GRG .tabPanel fieldset > div > label {
    width: 50px;
    display: inline-block;
}

.jimu-widget-GRG .controls {
    display: table;
    margin: 0 auto;
}

.jimu-widget-GRG .buttonContainer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.jimu-widget-GRG .controlItem {
    margin-top: 5px;
    display: flex;
}

.jimu-widget-GRG .controlGroup {
    margin-top: 13px;
}

.jimu-widget-GRG .controlGroupHidden {
    display: none;
}

.jimu-widget-GRG .controlGroup .controlGroupChild{
    margin-top: 6px;
}

.jimu-widget-GRG .controlGroup .splitRight {
    position: absolute;
    right: 25px;
}

.jimu-widget-GRG .controlGroup > label {
    width: 100px;
}

.jimu-widget-GRG .controlSpace {
    margin-left: 6px;
}

.jimu-widget-GRG .addExtentBtn {
    background: url(../images/draw_point.png) no-repeat;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;

}

.jimu-widget-GRG .addExtentBtn:hover {
    background-color: #c0c0c0;
}

.jimu-widget-GRG .addExtentBtn.jimu-state-active {
    background-color: #c0c0c0;
}

.jimu-widget-GRG .addExtentBtn.jimu-state-hidden {
    display: none;
}

.jimu-widget-GRG .rotateBtn {
    background: url(../images/rotate.png) no-repeat;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;

}

.jimu-widget-GRG .rotateBtn:hover {
    background-color: #c0c0c0;
}

.jimu-widget-GRG .rotateBtn.jimu-state-active {
    background-color: #c0c0c0;
}

.jimu-widget-GRG .rotateBtn.jimu-state-hidden {
    display: none;
}

.jimu-widget-GRG .deleteBtn {
    background: url(../images/delete.png) no-repeat;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;

}

.jimu-widget-GRG .deleteBtn:hover {
    background-color: #c0c0c0;
}

.jimu-widget-GRG .deleteBtn.jimu-state-active {
    background-color: #c0c0c0;
}

.jimu-widget-GRG .deleteBtn.jimu-state-hidden {
    display: none;
}
/**
 * Coordinate Format Dialog
 **/


.btnContainer {
    text-align: right;
    margin-top: 6px;
}

.settingsContainer {
    margin-top: 6px;
}

.controlContainer {
    margin-top: 6px;
}

.claro .dijitTextBox .dijitInputInner {
    height: 20px !important;
}
