@import url("../RangeSlider/nouislider.min.css");

.observerValues{
  display: block;
}
.FOVPicker{
  width: 180px;
  display: inline-block;
}

.heightText{
    display: inline-block;
      /* FF3.5+ */
  -moz-transform: rotate(-90.0deg);
  /* Opera 10.5 */
  -o-transform: rotate(-90.0deg);
  /* Saf3.1+, Chrome */
  -webkit-transform: rotate(-90.0deg);
  /* IE6,IE7 */
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
  /* Standard */
  transform: rotate(-90.0deg);
    border-bottom-width: 0;
    border-top-width: 0;
    height: 0;
    margin: 2px -99px 0 -125px;
    padding-left: 147px;
    top: 25;
    width: 250px;
}

.obsHeightSlider{
    display: inline-block;
    height: 170px;
    }    

.distanceSlider{
    margin-top: 15px;
    width: 237px;
    text-align: center;
    }

.observerInput {
    width:50px !important;
    top: 23px;
    display: inline-block;
}


