.jimu-widget-asset-cost-analysis-setting
{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.jimu-widget-asset-cost-analysis-setting .editable
{
    width: 100px;
}
.jimu-widget-asset-cost-analysis-setting .update
{
    width: 200px;
}
.jimu-widget-asset-cost-analysis-setting .setting-table > thead > tr > th, .jimu-widget-asset-cost-analysis-setting .setting-table > tbody > tr > td
{
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.jimu-widget-asset-cost-analysis-setting .input-table > tbody > tr > .first
{
    width: auto;
    text-align: right;
}

.jimu-rtl .jimu-widget-asset-cost-analysis-setting .input-table > tbody > tr > .first
{
    text-align: left;
}

.jimu-widget-asset-cost-analysis-setting .input-table > tbody > tr > .second
{
    width: 500px;
}


.jimu-widget-asset-cost-analysis-setting .input-table > tbody > tr > .second > span
{
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.jimu-widget-asset-cost-analysis-setting .dijitArrowButtonContainer
{
    width: 17px;
}
.jimu-widget-asset-cost-analysis-setting .dijitSelect
{
    height: 30px;
    width: 100%;
}

.hide
{
    display: none;
}

.settings-error {
  font-size: 1.1em;
  color: orangered;
}







